@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.body{
    margin: 0 120px;
}

.navbar{
    margin: 0 120px;
}

.nav-link{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #78828A;
    font-weight: 500;
}

.nav-link:hover{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #00A376;
    font-weight: 700;
}

.navbar-nav .icon{
    margin: 0 8px;
}

#carouselExampleSlidesOnly {
    margin: 40px 120px;
}
.carousel-item img{
    width: 100%;
    height: 610px;
    object-fit: cover;
}

.container-blog{
    margin: 0 120px;
}

.col-md-4 {
    padding: 20px;
  }

#blog-posts img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}


@media screen and (max-width: 768px) {

    .body{
        margin: 0 20px;
    }
    .navbar{
        margin: 0 20px;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column;
    }

    .navbar-nav .icon{
        display: none;
    }

    .nav-link{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        color: #78828A;
        font-weight: 500;
    }

    .navbar-nav .btn{
        margin: 8px 0;

    }
    

#carouselExampleSlidesOnly {
    margin: 40px;
}

.carousel-item img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}


.card{
    margin: 24px 20px;
}

.container-blog{
    margin: 0 20px;
}

}